<div class="container">
    <div class="row">
        <p> page numéro : {{page}}</p>
        <button class="float-left" style="cursor: pointer;" (click)="decrement()"> page précedent  </button>
         <button (click)="increment()" class="float-right" style="cursor: pointer;"> page suivante  </button>
    </div>
    <div class="row" >
        <div class="col-md-4" *ngFor="let hero of caracters"> 
            <div class="card ml-3" style="width: 18rem;" >
                <img class="card-img-top" src="{{hero.thumbnail.path + '.' +  hero.thumbnail.extension }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"> {{ hero.name }}</h5>
                </div>
            </div>
            </div>
        </div>
</div>